.teste{
    font-size: 1.3vw;
    background: black;
    color: white;
    margin: 2vw;
    padding: 1.2vw;
    display: flex;
    align-items: center;
    justify-content:space-around;
    border-radius: 5vw;
}
.link{
    text-decoration: none;
    color: white;
}